<head>
	<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>

@*linkur að ace síðunni: https://ace.c9.io/#nav=embedding*@
@*place holder kóði*@
<title>ACE in Action</title>

<div class="form-group">
	<label for="mode" class="control-label">Language Mode:</label>
	<select id="mode" class="form-control">
		<option value="ace/mode/javascript">javascript</option>
		<option value="ace/mode/html">html</option>
	</select>
</div>

<div id="editor">
	function foo(items) {
	var x = "All this is syntax highlighted";
	return x;
	}
</div>

<script src="~/Ace/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript">

	var editor = ace.edit("editor");
	editor.setTheme("ace/theme/monokai");
	editor.getSession().setMode("ace/mode/javascript");

	//var editor = ace.edit("code");
	//var textarea = $('textarea[name="code"]').hide();
	//editor.setTheme("ace/theme/textmate");
	//editor.getSession().setMode("ace/mode/sql");
	//editor.getSession().setValue(textarea.val());
	//editor.getSession().on('change', function () {
	//	textarea.val(editor.getSession().getValue());
	//});

	$('#mode').on('change', function () {
		var newMode = $("mode").val();
		alert("The text has been changed.");
		editor.getSession.setMode("ace/mode/" + newMode)
	})

	 // hérna breytir þú hvaða mode er skoðað

	//	$(document).ready(function () {
	//		$('#mode').on('change', function () {

	//			var e = document.getElementById("mode");
	//			editor.getSession().setMode(e);

	//			alert("The text has been changed.");
	//		});
	//	});
</script>
